@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <h1 class="display-4">Anders Børjesson (anbo)</h1>
            <br />
        </div>
    </div>
    <div class="row text-center" style="background-color: black; color: white">
        <div class="col-sm-6">            
            <p></p>
            <p>Cand.scient. i matematik og datalogi</p>
            <p>Lektor på Datamatikeruddannelsen</p>
            <p>Zealand, Sjællands Erhvervsakademi, Roskilde</p>
        </div>
        <div class="col-sm-6">
            <p></p>
            <p>
                Address (work):
            </p>
            <p>                
                Maglegårdsvej 2, 4000 Roskilde
            </p>
            <p>
                E-mail (work) anbo(at)zealand.dk
            </p>
        </div>
    </div>
</div>
    <br />
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

    </style>
<div class="row text-center">
        
        <div class="col-sm-4">
            <h4>
                Spring 2023
            </h4>
            <ul>
                <li><a href="https://docs.google.com/document/d/e/2PACX-1vQMVjz004zjVRcvZsMr-Ei0SWEXa11XFhFIk_cZLRf0i_S6gIaeC-cmZpLCBC5VGmZ8_YEtI109irlI/pub">Programming, 3sem</a></li>
                <li><a href="https://docs.google.com/document/d/e/2PACX-1vRXifTWQGBQkkciaYFO_0aT5o8OPQYwWqPZplCERCYrElSPIuie5O0--mtDYP-wWB3Ay1_rquB8Rw_e/pub">Mobile Application Development, 4sem</a></li>
                <li>Internship, 5sem</li>
                <li><a href="https://docs.google.com/document/d/e/2PACX-1vRNsTpH9RATDy1sGQUaJCSeWXeieqao-7_y_saVzAQuTcM-zzesyXB338ix3qRPwh_YzKS86Ryv-xOk/pub">Hovedopgavekursus, 5sem</a></li>
                <li><a href="https://docs.google.com/document/d/e/2PACX-1vQsJ42ifYk1qNVYHQL6RwKREolKYWc3cRAVMrtIGrjPJtttuGwvoAY3jEAFztatqCIxyitx87McHMo9/pub">Dissertation course, 8sem, International</a></li>
                <li>Dissertations</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4 >
                Autumn 2022
            </h4>
            <ul>
                <li><a href="https://docs.google.com/document/d/e/2PACX-1vS3CeBX7CMTl-fgsbH7jXNKTDNGhJWm8JDDbdqfKBqzw7lqQ2Qbd-F07nP7PvDi3ioPvR5QQl2gdvhS/pub">Programming, 3sem</a></li>
                <li><a href="http://anbo-easj.dk/mobile2022autumn/index.html">Mobile Application Development, 4sem</a></li>
                <li>Internship, 5sem</li>
                <li><a href="https://docs.google.com/document/d/e/2PACX-1vRRuvlRwQ3H4l18OBULWdb8l9qe2r-ZBwj8wxLOszi-kwmRtg2q1A37tv908SMe8KWhOdK3u0D-dbsm/pub">Hovedopgavekursus, 5sem</a></li>
                <li><a href="https://docs.google.com/document/d/e/2PACX-1vT63JhunFQrmrr3vo_6-wkBtdFQ04tVvcFvQGpS1gm3Tu3J6efqxqzxJntb4196KsYw_B9ltZIbspP-/pub">Dissertation course, 8sem, International</a></li>
                <li>Dissertations</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4 >
                Spring 2022
            </h4>
            <ul>
                <li><a href="http://anbo-easj.dk/prog3_2022spring/index.html">Programming, 3sem</a></li>
                <li><a href="http://anbo-easj.dk/mobile2022spring/index.html">Mobile Application Development, 4sem</a></li>
                <li>Internship, 5sem</li>                
                <li>Dissertations</li>
                <li><a href="https://anbo-easj.dk/undervisning/">Previous Semesters</a></li>
            </ul>
        </div>
        <br />
</div>